//Cnpj-input
.input-cnpj{
    margin: 0 10px 10px 0;
}

//Adress
.card-endereco{
    border-color: blue;
    border-style: solid;
    border-radius: 10px;
    margin-top: 10px;
    //Dimensões
    height: auto;
    width: 100%;
}

.table-dados{
    margin: 10px;
}

.title-card-adress{
    text-align: center;
    background-color: blue;
    size: 12px;
}